/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* Estilos para el formulario de contacto */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilos para la lista de plantas */
#plantas {
    margin: 20px;
}

.categoria {
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5rem;
}

.planta {
    border: 2px solid violet;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px; /* Tamaño mediano para las imágenes */
    text-align: center;
}

.planta img {
    max-width: 100%;
}

.planta p {
    margin: 10px 0;
}

a {
    display: block;
    text-align: center;
    background-color: violet;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    background-color: #333;
}

/* Reglas de estilo para pantallas más pequeñas (responsive) */
@media screen and (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    form {
        max-width: 100%;
    }

    .planta {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}
